*{
    font-family: 'Poppins', Courier, monospace;
}
.padre {
  width: 100%;
  margin-left: -40px;
}


.portada-kabum{
  background-image: url('./../../../assets/images/portada-kabums.png');
  height: 150px;
  background-size:  cover;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.form-buscar{
  padding-top: 50px;
}

.btn-buscar{
  background-color: #33418A;
  color: #fff;
}


.color-badge{
    background-color: #33418A;
    color: #fff;
}

.titulo-kabums{
    color: #33418A;
    font-weight: bold;
}


.imagen-pregunta{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

span{
    color: #33418A;
}

.btn-cancelar{
    background-color: #FB6566;
    color: #fff;
}


.card-pregunta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 110px;
  margin-top: 30px;
  border-radius: 15px;
}

.card-pregunta:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  width: 70%;
}

.navs {
  width: 350%;
  height: 600px;
}

.columna2 {
  height: auto;
}

.navs {
  overflow-y: scroll;
  width: 300px;
}



.navs{
  overflow-y: scroll;
}
.navs::-webkit-scrollbar{
  width: 7px;
}
.navs::-webkit-scrollbar-thumb{
  background:  rgb(0,100,167);
}


.titulo {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: #747474;
  border-radius: 15px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.selector {
  border-radius: 20px;
  border-color: green;
  border-width: 2px;
  width: 200px;
  font-size: 19px;

}



.imagen {
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
  height: 250px;
}
.botones {
  display: flex;
  justify-content: center;
  color: black;
}


.azul {
  background-color: rgba(32, 76, 173, 0.945);
  color: white;
}
.azul:hover {
  background-color: rgba(11, 75, 214, 0.945);
  color: white;
}
.azul:focus {
  background-color: rgba(11, 75, 214, 0.945);
  color: white;
}
.rojo {
  background-color: rgba(231, 84, 84, 0.87);
  color: white;
}
.rojo:hover {
  background-color: rgba(252, 44, 44, 0.87);
  color: white;
}
.rojo:focus {
  background-color: rgba(252, 44, 44, 0.87);
  color: white;
}
.amarillo {
  background-color: rgba(241, 239, 111, 0.87);
  color: white;
}
.amarillo:hover {
  background-color: rgba(252, 249, 84, 0.87);
  color: white;
}
.amarillo:focus {
  background-color: rgba(255, 252, 82, 0.87);
  color: white;
}
.cielo {
  background-color: rgba(88, 216, 233, 0.87);
  color: white;
}
.cielo:hover {
  background-color: rgba(68, 233, 255, 0.87);
  color: white;
}
.cielo:focus {
  background-color: rgba(68, 233, 255, 0.87);
  color: white;
}

.logos {
  margin-left: 480px;
  margin-top: 5px;
}
.logos .trash{
  color: #FB6566;
  cursor: pointer;
}
.logos .edit {
  cursor: pointer;
}

.edit {
  margin-left: -50px;
}

input {
  text-align: center;
}
.botones input {
  height: 70px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.titulo2 {
  width: 800px;
  margin-left: -60px;
  margin-bottom: 40px;
}

