 .fondo-start{
    overflow: hidden;
    height: 100%;
	width: 100%;
 }

 .fondo-start-color{
    background-color: #33428a;
    animation-name: fondo-color;
	animation-duration: 10s;
	animation-iteration-count: infinite;
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 100%;
    background-size: cover;    
    background-image: url('../../../assets/images/fondo-signos.png');
  }

 .container-login-admin{
     margin-top: 150px;
 }

 .btn-border{
     border-radius: 100px;
 }

 .color-pin{
     background-color: #fff;
     color: #000000;
 }

 .numero-pin{
     font-size: 80px;
     font-weight: bolder;
     cursor: default;
 }

 .pin-start{
     font-weight: bold;
     cursor: default;
 }

 .logo-kabum-mov{
    width: 300px;
    height: 150px;
    animation: animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate infinite alternate 500ms;
}

 
.btn-iniciar-juego{
    position: absolute;
    top:90%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    transform: translate(-50%, -50%);
	cursor: pointer;
	display: inline-block;
 	height: 50px; 
    width: 200px;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight:bold ;
    -webkit-box-shadow: 17px 24px 21px -11px rgba(0,0,0,0.46);
    -moz-box-shadow: 17px 24px 21px -11px rgba(0,0,0,0.46);
    box-shadow: 17px 24px 21px -11px rgba(0,0,0,0.46);
    transition: all 0.5s;
}

.btn-iniciar-juego:hover{
    background-color: #FB6566;
    color: #ffffff;
    text-decoration: none;
}

.container-pin{
    position: absolute;
    top:30%;
    left: 0%;
}

.container-jugadores{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-user{
    color: #fff;

}

.num-jugadores{
    color: #fff;
    background-color: #263377;
    padding: 5px;
    border-radius: 8px;
    cursor: default;
    animation: fondo-names-start;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    -webkit-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
}

.quitar-jugador{
    color: #7575756c;
    font-size: 20px;
    cursor: pointer;
}


.btn-salir{
    background-color: #FB6566;
    color: #fff;
}


@keyframes fondo-color{
    100%{ background: #FFE375;
        background-image: url('../../../assets/images/fondo-signos.png');
        background-size: cover; 
    }
    35%{ background: #FB6566;
        background-image: url('../../../assets/images/fondo-signos.png');
        background-size: cover; 
    }
    // 30%{ background: #85ECFF; 
    //     background-image: url('../../../assets/images/fondo-signos.png');
    //     background-size: cover; 
    //     }
    30%{ background: #33418A; 
        background-image: url('../../../assets/images/fondo-signos.png');
        background-size: cover; 
    }

    
}


@keyframes fondo-names-start{
    100%{ background: #ffd633;
    }
    35%{ background: #ff3535;
    }
    // 30%{ background: #4ae4ff; 
    //     }
    30%{ background: #1a2e92; 
    }
}
